rules_version = '2';

service cloud.firestore {

  function authenticated() {
    return request.auth.token != null;
  }

  function admin() {
    return authenticated() && request.auth.token.role == 'admin';
  }

  match /databases/{database}/documents {

    match /admins/{adminId} {
      allow get: if userId == request.auth.uid || admin();
      allow list: if admin();
      allow update: if (
          userId == request.auth.uid &&
          !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role', 'createdOn'])
        ) || admin();
      allow delete: if userId == request.auth.uid || admin();
    }

    match /users/{userId} {
      allow get: if userId == request.auth.uid || admin();
      allow list: if admin();
      allow update: if admin();
      allow delete: if userId == request.auth.uid || admin();
    }

    match /settings/status {
      allow write, read: if admin();
    }

    match /products/{document=**} {
      allow read;
      allow write: if admin();
    }

    match /blog-articles/{document} {
      allow read, write: if admin();

      match /blog-comments/{comment} {
        allow list: if true || admin();
        allow get: if admin();
        allow create: if admin() || (
          authenticated() &&
          request.resource.data.author == request.auth.uid &&
          request.resource.data.keys().hasOnly(
            ['author', 'authorName', 'comment', 'createdOn']
          )
        );
        allow update: if admin() || (
          request.resource.data.author == request.auth.uid &&
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['comment', 'authorName'])
        );
        allow delete: if admin() || (resource.data.author == request.auth.uid);
      }
    }

    match /blog-categories/{document} {
      allow read, write: if admin();
    }

    match /blog-authors/{document} {
      allow read, write: if admin();
    }

    match /tags/{document} {
      allow read: if true;
      allow write: if admin();
    }

    match /products/{document} {
      allow read: if true;
      allow write: if admin();
    }

    match /categories/{document} {
      allow read: if true;
      allow write: if admin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
