@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e65100;
  --primary-contrast: #ffffff;

  --secondary: #0095e6;
  --secondary-contrast: #ffffff;

  --warn: #fdcc00;
  --warn-contrast: #ffffff;

  --error: #ff3333;
  --error-contrast: #ffffff;

  --ripple-color: rgba(0, 0, 0, 0.16);

  --border-radius-base: 4px;
}
