@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e65100;
  --primary-contrast: #ffffff;

  --white: #fff;

  --secondary: #0095e6;
  --secondary-contrast: #ffffff;

  --warn: #fdcc00;
  --warn-contrast: #ffffff;

  --error: #ff3333;
  --error-contrast: #ffffff;

  --ripple-color: rgba(0, 0, 0, 0.16);
 
  --blackish: #212121;
  --gray: #DAD9E0;
  --text-gray: #9797A5;

  --border-radius: 4px;

  --border-radius-xl: 36px;
  --border-width: 1px;
}



