@tailwind base;
@tailwind components;
@tailwind utilities;

.footnote {
  color: var(--text-gray);
  font-weight: 500;
  font-size: 15px;
}

.notelink {
  text-decoration: underline;
  @apply hover:text-[--blackish];
  text-underline-offset: 4px;
}
